<template name="indicatormap">
  <div class="col-xs-12 col-lg-12">
    <div class="card">
      <div id="divAno"></div>
      <div id="map1" style="width: 100%; height: 92vh;">
        <iframe
          width="100%"
          height="100%"
          frameborder="0"
          src="https://fillipefeitosa.carto.com/builder/8b0d902b-c34d-4d4f-802c-cedf82e9ad32/embed"
          allowfullscreen
          webkitallowfullscreen
          mozallowfullscreen
          oallowfullscreen
          msallowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</template>

<template name="indicatormap2">
  <div class="col-xs-12 col-lg-12">
    <div class="card">
      <div id="divAno"></div>
      <div id="map1" style="width: 100%; height: 92vh;">
        <iframe
          width="100%"
          height="100%"
          frameborder="0"
          src="https://fillipefeitosa.carto.com/builder/8e14c851-475b-4bc5-8751-5b70a36ed2dc/embed"
          allowfullscreen
          webkitallowfullscreen
          mozallowfullscreen
          oallowfullscreen
          msallowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</template>
