<template name="techmap">
  <div class="col-xs-12 col-lg-12">
    <div class="card">
      <div id="divAno"></div>
      <div id="map1" style="width: 100%; height: 92vh;">
        <iframe
          width="100%"
          height="100%"
          frameborder="0"
          src="https://fillipefeitosa.carto.com/builder/afee2811-f21a-49c4-9fc2-ee3e4818bfae/embed"
          allowfullscreen
          webkitallowfullscreen
          mozallowfullscreen
          oallowfullscreen
          msallowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</template>
