<template name='techbox'>
    <div id="instrucoes" class="container pb-4">
        <div class="card">
    
            <span class="list-group-item active background-blue">
                <h5 class="m-0">Trabalhos sem localização ou fora do contexto de Portugal</h5>
            </span>
    
            <div class="m-3">
                <div class="row">
                    <div class="col-4">
                      <div class="list-group list-group-flush" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Ekphrasis and Periphery in Habitation: Contesting Warmhearted Xenon </a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Europe: Disenchanting Flirtatious Oppression and Disease</a>
                        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Investigating Amusing Ethnicity: Economic and the Spread</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Solving the/a/an Overemotional Education in Space: Analogy and Metaphor</a>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
                        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
                        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                            <ul>
                                <li><b>Authors</b></li>
                                PhD. John Doe - University of Xenon <br>
                                PhD. Alex Pierce - University Yenon
                                <li><b>Abstract</b></li>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu sodales velit, ac lacinia leo. Suspendisse ultrices maximus ligula. Nullam lacinia dolor vel varius cursus. Nulla ex odio, malesuada a ultrices vel, eleifend in mauris. In quis auctor lacus, ut aliquet nisl. Donec volutpat eleifend erat, vitae commodo ligula facilisis sed. Morbi bibendum egestas odio. Aliquam pharetra magna ut ligula mollis euismod in sed quam. Donec in enim dolor. 
                                <li><b>Keywords</b></li>
                                testing; space; xenon
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
                      </div>
                    </div>
                  </div>
    
            </div>
        </div>
    </div>
</template>