<template name="addtools">
  {{#if isInRole 'Colaborador'}}
  <div class="col-md-6">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1">
              <i class="fas fa-plus"></i>
              Cadastrar nova ferramenta
            </a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
            {{> quickForm collection=toolsCollection id="insertToolsForm"
            type="insert"}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6"></div>
  {{/if}}
</template>

<template name="managetools">
  {{#if isInRole 'Colaborador' }}
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-center">Nome</th>
          <th class="text-center">Tipo</th>
          <th class="text-center">Link</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {{#each toolsCollection }}
        <tr>
          <td>{{ properties.name }}</td>
          <td>{{ properties.group }}</td>
          <td>{{ properties.link }}</td>
          <td class="text-center">
            <a href="/admin/formupdate/{{_id}}?collection=toolsCollection">
              <i class="fa fa-edit"></i>Editar
            </a>
            <br />
            <a href="#" id="deleteTools"
              ><i class="fa fa-times" style="color: red;"></i> Remover</a
            >
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col-md-1"></div>
  {{/if}}
</template>
