<template name="navbar">
  <nav
    class="navbar navbar-expand-md navbar-dark font-weight-bold background-grey"
  >
    <div class="container">
      <a href="/" style="color: #ffffff;">
        <span class="navbar-brand">
          <svg
            width="40"
            height="40"
            class="d-inline-block align-middle"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 301 300"
            xml:space="preserve"
          >
            <path
              class="st1"
              d="M186.8,251.9c-9.5,0-17.7,5.4-22.4,13.8c-1.9,3.4-5.6,5.7-9.8,5.7h-4.2c-4.2,0-7.9-2.3-10.3-6.3
        c-4.1-7.9-12.4-13.2-21.9-13.2l-52.8,0c-3.2,0-5.8-2.6-5.8-5.8l0-71c0-3.2,2.3-5.9,5.5-5.9h53.1c9.5,0,17.7,5.4,22.4,13.8
        c1.9,3.4,5.6,5.7,9.8,5.7h4.2c4.2,0,7.9-2.3,10.3-6.3c4.1-7.9,12.4-13.2,21.9-13.2l49,0c3.2,0,5.7,2.6,5.7,5.8l-0.1,71.1
        c0,3.2-2.7,5.7-5.8,5.7L186.8,251.9z M195,78c6.1,0,11.6-2.5,15.6-6.4l27.2-33.8c1.9-2.4,4.8-3.9,8-3.9c0.5,0,1.1,0,1.6,0.1
        c17.8,2.7,30.3,17.7,30.3,36l0,181.8c0,20.1-16.3,36.4-36.4,36.4H59.5c-20.1,0-36.4-16.3-36.4-36.4l0-181.8
        c0-18.2,12.5-33.3,30.3-36c0.5-0.1,1.1-0.1,1.6-0.1c3.3,0,6.2,1.5,8,3.9l27.2,33.8c4,4,9.7,6.4,15.8,6.4c12.3,0,22-9.9,22-22.2
        l0-11.5l0-28.4c0-2.2,1.7-4,3.9-4c22.8,1.9,40.5,20.6,40.5,43.9C172.6,68.1,182.8,78,195,78z"
            ></path>
          </svg>
          <span style="vertical-align: middle; font-weight: 400;">DSS LAB</span>
        </span>
      </a>

      <ul class="navbar-nav ml-lg-auto ml-md-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle lang text-white"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            PT
            <img
              style="vertical-align: bottom;"
              width="25"
              height="18"
              src="img/pt.png"
            />
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a
              class="dropdown-item lang"
              href="tests/lang/changelang.php?lang=en"
              ><img
                style="vertical-align: bottom;"
                width="25"
                height="18"
                src="img/en.png"
              />
              English</a
            >
            <a
              class="dropdown-item lang"
              href="tests/lang/changelang.php?lang=pt"
              ><img
                style="vertical-align: bottom;"
                width="25"
                height="18"
                src="img/pt.png"
              />
              Português</a
            >
          </div>
        </li>
      </ul>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
        style="white-space: nowrap;"
      >
        <ul class="navbar-nav mr-auto">
          <li
            class="nav-item border-left <?php if ($page == 'mun') { echo 'active'; } ?>"
          >
            <a class="nav-link" href="/indicatornav">Mapa de Indicadores</a>
          </li>
          <li
            class="nav-item border-left <?php if ($page == 'mun') { echo 'active'; } ?>"
          >
            <a class="nav-link" href="/toolmap">Ferramentas</a>
          </li>
          <li
            class="nav-item border-left <?php if ($page == 'mun') { echo 'active'; } ?>"
          >
            <a class="nav-link" href="/techmap">Trabalhos Técnicos</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-lg-auto ml-md-auto">
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
